*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;

}
body{
    background-color: blue;
}
#box{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:flex-start; 
    flex-direction: column;

#h1{
    text-align: center;
    background-color: blueviolet;
}

#p{
    text-transform: lowercase;
    background-color: #fff;
}

}
#box1{
    height: 200px;
    width: 200px;
    background-color: chartreuse;
   
}
#box2{
    height: 200px;
    width:200px;
    background-color: blue;
}
#box3{
    height: 200px;
    width:200px;
    background-color: pink;
    
}
