.box{
    height: 200px;
    width: 200px;
    color: white;
    background-color: green;
    padding: 5px;

}
p{
    border-color: blue;
    border-width: 3px;
    border-style: solid;
    border-radius:5px;
}
