.bg{
    height: 200px;
    width: 200px;
    background-image: url('https://images.unsplash.com/photo-1760532767946-7edb67eb415f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=688');
    background-size: cover;
    background-position: center;


}