*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #fff;
}
html,body{
   width: 100%;
   height: 100%;
}
body{
    background-color: whitesmoke;
h{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-display: block;
    background-color: black;
    font-size: larger;
    text-shadow: cornsilk;
    text-decoration-line: underline;
    text-transform: capitalize;
    margin-left: initial;
    text-align: right; 
}
}
.images{
    width: 100%;
    background-color: purple;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h"
    "i"
    "j";
}

 
@media(min-width: 1000px){
    .images{
        display: grid;
        grid-template-areas: 
    "a a b c"
    "a a d e"
    "f g j j"
    "h i j j" ;
    gap: 10px;
    padding: 10px;
}
}

img{
    width:100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.image-a{
    grid-area: a;
}
.image-b{
    grid-area: b;
}
.image-c{
    grid-area: c;
}
.image-d{
    grid-area: d;
}
.image-e{
    grid-area: e;
}
.image-f{
    grid-area: f;
}
.image-g{
    grid-area: g;
}
.image-h{
    grid-area: h;
}
.image-i{
    grid-area: i;
}
.image-j{
    grid-area: j;
}