body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: aquamarine;
}

h2 {
  margin: 20px;
  text-align: center;
}

.image-container img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: 0.3s ease;
}

/* Boxes */
.box-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.box {
  width: 50px;
  height: 50px;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.box:hover {
  background: #111;
  transform: scale(1.1);
}