*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #111;
}

#box{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    font-size: 10px;
    border: 10px solid blue;
    background-color: transparent;
    border-radius: 50%;
}
.btn{
    margin-top: 30px;
    background-color: black;
    width: 136px;
    height: 30px;
    text-emphasis-color: blue;
}