*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #111;
}

#box{
    height: 200px;
    width: 200px;
    border: 6px solid greenyellow;
    background-color: transparent;
    border-radius: 50%;
    margin-top: 20px;
}
.btn{
    background-color:black;
    width: 136px;
    height: 40px;
    margin-top: 20px;
    border:6px solid greenyellow;
    text-decoration-color: chartreuse;


}