*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color:rgb(104, 11, 190);
}

#box{
    height: 200px;
    width: 200px;
    border: 6px solid greenyellow;
    background-color: transparent;
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.btn{
    background-color:black;
    width: 136px;
    height: 40px;
    margin-top: 20px;
    border:6px solid greenyellow;
    text-decoration-color: chartreuse;
}

#box2{
    height: 200px;
    width: 200px;
    border: 6px solid greenyellow;
    background-color: transparent;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.btn2{
    background-color:black;
    width: 136px;
    height: 40px;
    margin-top: 20px;
    border:6px solid greenyellow;
    text-decoration-color: chartreuse;
}